.itemDatalles {
    display: flex;
    flex-direction: col;
    gap: 20px;
    flex-wrap: wrap;    
    align-items: center;
    justify-content:center;
    margin-top: 50px;
    margin-bottom: 50px;
}